* {
  background: none;
}

.main-content-body {
  width: 100%;
  background-color: white;
}

.row, .col-3, .col-12, label, .form-check, .dropdown, .d-flex, .col-8 {
  background: none;
}

.breadcrumb {
  margin: 20px 0 0 0;
  float: left;
}

.search {
  height: 60px;
}

.search input {
  float: right;
  width: 35%;
  margin-top: 7px;
  margin-right: 5%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: black;
  padding: 12px 0;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
  backface-visibility: hidden;
  transition: transform 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  transform-style: preserve-3d;
}

.search input:focus {
  color: black;
  transition: all 250ms ease-in-out;
  border-radius: 2px;
  outline: none;
}

.search input::placeholder {
  color: black;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding-left: 10px;
}

.search input:focus::placeholder {
  color: #3c3c3c;
}

.cat-title {
  font-weight: 500;
}

#filter-box {
  width: 100%;
  margin: 0 0 0 6%;
  margin-left: 2%;
}

#filter-box .precio {
  border-top: 1px solid rgb(226, 226, 226);
}

#filter-box .lugar {
  border-top: 1px solid rgb(226, 226, 226);
}

#filter-box h3 {
  font-size: 14px;
  color: black;
  background: none;
}

.form-check {
  color: black;
  font-size: 12px;
}

#filter-box .btn {
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
  font-size: 12px;
}

.fecha .btn {
  font-size: 13px;
  margin: 0 2% 0 2%;
}

.search-filter {
  background-color: rgb(226, 226, 226);
  height: 60px;
}

.search-filter p {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 13px;
  background: none;
}

.search-filter .ocultar:hover {
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .search input {
    width: 20%;
  }
}
