<div class="concierto-body" [ngClass]="{'item-bodyPar': index%2==0, 'item-bodyImpar': index%2==1}">
  <div class="row">
    <div class="col-6">
      <p>Info <i class="bi bi-info-circle"></i></p>
      <h4>{{ concierto.nombre }}</h4>
      <p class="mb-2">{{ concierto.lugar }}</p>
      <p class="mt-0">{{ fecha }}</p>
    </div>
    <div class="col-6">
      <a [routerLink]="['/concierto', ':'+concierto.id]"><button class="btn">Reservar <i class="bi bi-cart"></i></button></a>
    </div>
  </div>
</div>
