<div class="footer">
  <div class="row">

    <nav class="navbar navbar-expand navbar-dark">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item marca">
            <a class="nav-link" href="#">Ciudades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
    </nav>

  </div>
  <div class="row">
    <div class="col-sm-4 titulo pb-3">
      <a class="" href="#">
        <img src="./../../../assets/photos/logo-white.svg" width="200px" height="100px" alt="">
      </a>
    </div>

    <div class="col-sm-4 copyright pb-3">
      <h5 class="text-white text-center">© COPYRIGHT</h5>
    </div>

    <div class="col-sm-4 social-media pb-3">
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-spotify"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</div>
