.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background-color: #131313;
  font-size: 18px;
}

.container-fluid, .navbar-brand, .navbar-brand img, #collapsibleNavbar, .navbar-nav, .nav-item {
  background: none;
}

.nav-link {
  font-weight: 500;
}

.btn-signIn {
  border-radius: 20px;
  background-color: #8B7AF4;
  color: white;
  transition: all 0.3s ease-out;
}

.btn-signIn:hover {
  background-color: #483B99;
  transition: all 0.3s ease-out;
}

.dropdown-menu.columns-2 {
	min-width: 330px;
}

.dropdown-menu.columns-2 li {
	background: transparent;
}

.dropdown-menu.columns-2 a:hover {
	background-color: #8B7AF4;
  color: white;
}

.row {
  background: transparent;
}

.col-sm-6 {
  background: transparent;
}

button {
  font-weight: 500;
}

.modal, .modal-title, p, label, input, form, .form-floating, .modal-bottom, a, .invalid-feedback {
  background: none;
  border-radius: 20px;
}

.modal-dialog, .modal-content, .modal-header, .modal-body {
  background: white;
}

.modal-body button {
  background-color: #483B99;
  transition: all 0.3s ease-out;
  border-radius: 20px;
  color: white
}

.modal-body button:hover {
  background-color: #483B99;
  transition: all 0.3s ease-out;
}

.modal-dialog, .modal-content {
  border-radius: 20px !important;
}

.modal-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
