.concierto {
  height: 200px;
  width: 155px;
  border-radius: 10px;
  color: white;
  transition: ease-in-out 0.5s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
  -webkit-box-shadow: inset 0px -89px 15px -6px rgba(0,0,0,0.9);
-moz-box-shadow: inset 0px -89px 15px -6px rgba(0,0,0,0.9);
box-shadow: inset 0px -89px 15px -6px rgba(0,0,0,0.9);
}

.concierto:hover {
  cursor: pointer;
}

.content-box {
  height: 100%;
  width: 100%;
  background: none;
  display: flex;
  align-items: flex-end;
  border-radius: 7px;
}

.tipo-1:hover {
  transform: rotate(-2deg) scale(1.1);
  transition: ease-in-out 0.5s;
}

.tipo-2:hover {
  transform: rotate(2deg) scale(1.1);
  transition: ease-in-out 0.5s;
}

.concierto h4{
  margin-top: 60%;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.concierto p {
  font-size: 12px;
  opacity: 0.8;
}

h4, p, .row, .col-12{
  background: none;
}

