
  <div class="entrance">
    <div class="shadow-box">
      <div class="row">
          <div class="col-12 title-box">
            <h2>Encuentra el concierto perfecto para tu mood del momento</h2>
          </div>
          <div class="col-12 button-box">
            <a fragment="categories" (click)="navigateToSection('categories')"><button class="btn conciertos-btn">Ver conciertos aquí <i class="bi bi-arrow-right"></i></button></a>
            <button class="btn artistas-btn" routerLink="/artistas">Ver artistas aquí <i class="bi bi-arrow-right"></i></button>
          </div>
      </div>
    </div>
  </div>

  <div id="categories">
    <h3 class="ms-5 cat-title">Categorías</h3>
    <div class="category-group mt-3">
      <div class="categories-listed">
        <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-5 p-5 pt-0">
          <a [routerLink]="['/categorias', 'pop']"><div class="card list">
            <h2 class="category-name text-center">Pop</h2>
            <img class="card-img" src="../../../../assets/photos/pop.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'latina']"><div class="card list">
            <h2 class="category-name text-center" id="latina">Latina</h2>
            <img class="card-img" src="../../../../assets/photos/latina.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'rock']"><div class="card list">
            <h2 class="category-name text-center" id="rock">Rock</h2>
            <img class="card-img" src="../../../../assets/photos/rock.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'edm']"><div class="card list">
            <h2 class="category-name text-center" id="electro">EDM</h2>
            <img class="card-img" src="../../../../assets/photos/electro.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'hip-hop']"><div class="card list">
            <h2 class="category-name text-center" id="rap">Hip-Hop</h2>
            <img class="card-img" src="../../../../assets/photos/artistas/eminem.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'country']"><div class="card list">
            <h2 class="category-name text-center" id="country">Country</h2>
            <img class="card-img" src="../../../../assets/photos/artistas/combs.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'jazz']"><div class="card list">
            <h2 class="category-name text-center" id="jazz">Jazz</h2>
            <img class="card-img" src="../../../../assets/photos/jazz.jpeg" alt="Card image" loading="lazy">
          </div></a>

          <a [routerLink]="['/categorias', 'clasica']"><div class="card list">
            <h2 class="category-name text-center" id="clasica">Clásica</h2>
            <img class="card-img" src="../../../../assets/photos/clasica.jpeg" alt="Card image" loading="lazy">
          </div></a>
        </div>
      </div>
    </div>
  </div>


  <div id="recuerdos">
    <div class="shadow-box">
      <div class="row">
          <div class="col-12 title-box2">
            <h2>Tienes la oportunidad de vivir tus sueños a pocos clicks</h2>
          </div>
          <div class="col-12 button-box2">
            <button class="btn ciudades-btn">Ver ciudades aquí <i class="bi bi-arrow-right"></i></button>
            <button class="btn contacto-btn" routerLink="/artistas">Contáctanos <i class="bi bi-arrow-right"></i></button>
          </div>
      </div>
    </div>
  </div>


  <div id="artistas">
    <div class="row">
      <div class="col-12">
        <h3 class="ms-5 text-white cat-title">Artistas más populares</h3>
      </div>
      <div class="col-12 artistas mt-5 mt-md-4">
            <div class="artista mt-md-4 tipo-1" id="badbunny" [routerLink]="['/artista', 'Bad Bunny']">
              <h5 class="ms-2">Bad Bunny</h5>
            </div>

            <div class="artista mt-md-4 tipo-2" id="jbalvin" [routerLink]="['/artista', 'J Balvin']">
              <h5 class="ms-2">J Balvin</h5>
            </div>

            <div class="artista mt-md-4 tipo-1" id="weeknd" [routerLink]="['/artista', 'The Weeknd']">
              <h5 class="ms-2">The Weeknd</h5>
            </div>

            <div class="artista mt-md-4 tipo-2" id="rels" [routerLink]="['/artista', 'Rels B']">
              <h5 class="ms-2">Rels B</h5>
            </div>

            <div class="artista mt-md-4 tipo-1" id="lipa" [routerLink]="['/artista', 'Dua Lipa']">
              <h5 class="ms-2">Dua Lipa</h5>
            </div>


          <div class="artistas-button">
            <button class="btn artistas-btn" routerLink="/artistas">Todos <i class="bi bi-arrow-right"></i></button>
          </div>
      </div>
    </div>
  </div>


  <div id="top_ventas">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="col-12 title-box">
          <h2 class="mb-3 text-white">¿Quieres ver lo más popular ahora mismo?</h2>
        </div>

        <div class="col-12 text-box">
          <p>Puedes ver aquí los conciertos con más entradas vendidas hasta el momento, pero no te esperes demasiado que te quedas sin...</p>
        </div>

        <div class="col-12 button-box">
          <button class="btn artistas-btn">Ver conciertos aquí <i class="bi bi-arrow-right"></i></button>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
          <app-concierto-card ngxSlickItem *ngFor="let concert of conciertos; let i = index" [concierto]="concert" [index]="i"></app-concierto-card>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
