* {
  background: none;
}

a {
  background: none;
  text-decoration: none;
}

.entrance {
  height: 80vh;
  width: 100%;
  background: url('../../../../assets/photos/concert.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-box {
  height: 100%;
  width: 100%;
  background: none;
  -webkit-box-shadow: inset 0px 0px 42px 28px rgba(0,0,0,0.68);
  box-shadow: inset 0px 0px 42px 28px rgba(0,0,0,0.68);
}

.shadow-box .row {
  height: 100%;
}

.title-box {
  color: white;
  height: 50%;
  padding: 0 20% 0 5%;
  display: flex;
  align-items: flex-end;
}

.button-box {
  height: 50%;
  display: flex;
  align-items: flex-start;
  padding: 2% 0 0 5%;
}

.button-box .conciertos-btn, .button-box2 .ciudades-btn {
  font-size: 14px;
  background-color: #8B7AF4;
  color: white;
  transition: ease-in-out 0.2s;
}

.button-box .conciertos-btn:hover, .button-box2 .ciudades-btn:hover {
  transform:scale(1.1);
  background-color: #483B99;
  transition: ease-in-out 0.2s;
}

.button-box .artistas-btn, .button-box2 .contacto-btn {
  font-size: 14px;
  background-color: white;
  color: black;
  transition: ease-in-out 0.2s;
  margin-left: 2%;
}

.button-box .artistas-btn:hover, .button-box2 .contacto-btn:hover {
  transform:scale(1.1);
  background-color: rgb(226, 226, 226);
  transition: ease-in-out 0.2s;
}

#categories, #top_ventas, #proximos_eventos, #artistas {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cat-title {
  font-weight: 500;
  color: black;
}

.category-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-listed {
  width: 75%;
  z-index: 9;
}

.categories-listed .row {
  background: none;
}

.list {
  background: none;
  border: none;
  transition: ease 0.3s;
}

.list2 {
  background: none;
  border: none;
  transition: ease 0.3s;
}

.list:hover {
  transform: translateY(-8px);
  transition: ease 0.3s;
}

.list img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: none;
  -webkit-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.6);
}

.list:hover img {
  opacity: 0.8;
  filter: blur(6px);
}

.category-name {
  color: white;
  background: none;
  z-index: 99;
  opacity: 0;
  font-weight: 800;
  font-size: 54px;
  text-shadow: 2px 2px 1px black;
}

.list:hover .category-name {
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-name: cd-bounce-down;
  animation-duration: 0.6s;
}

@keyframes cd-bounce-down {
  0% {
    opacity: .2;
    transform: translateY(0);
  }
  60% {
    opacity: .7;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(280%);
  }
}

#top_ventas, #recuerdos {
  background-color: #1f1f1f;
  padding-top: 0;
}

#artistas {
  background: rgb(9,9,9);
  background: linear-gradient(180deg, rgb(24, 24, 24) 53%, rgba(31,31,31,1) 65%);
  -webkit-box-shadow: inset 0 100px 30px -20px rgba(14, 14, 14, 0.8);
    -moz-box-shadow: inset 0 100px 30px -20px rgba(14, 14, 14, 0.8);
    box-shadow: inset 0 100px 100px -20px rgba(14, 14, 14, 0.8);
}

ngx-slide-carousel {
  background: none !important;
}

#recuerdos {
  height: 550px;
  width: 100%;
  background-image: url('../../../../assets/photos/music.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 -100px 30px -20px rgba(31,31,31,0.8);
    -moz-box-shadow: inset 0 -100px 30px -20px rgba(31,31,31,0.8);
    box-shadow: inset 0 -100px 100px -20px rgba(31,31,31,0.8);
}

.title-box2 {
  color: white;
  height: 50%;
  padding: 0 5% 0 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button-box2 {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2% 0 0 5%;
}

.text-box {
  color: white;
  padding: 0 20% 0 5%;
  display: flex;
  align-items: flex-start;
}

.slick-slide {
  height: 300px;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#top_ventas .slick-slider {
  width: 88%;
  margin: auto;
}

#top_ventas .slick-prev, #top_ventas .slick-next {
    height: 45px;
    width: 40px;
    background: white !important;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.6);
}

.artistas {
  margin: 0 5% 2% 5%;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.artista {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  color: white;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: flex-end;
  float: left;
  margin-right: 2%;
  -webkit-box-shadow: inset 0px -42px 32px 9px rgba(0,0,0,0.76);
  box-shadow: inset 0px -42px 32px 9px rgba(0,0,0,0.76);
}

.artista:hover {
  cursor: pointer;
}

.artista h5{
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.artistas-button {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  color: white;
  float: left;
}

.artistas-button .artistas-btn {
  margin-top: 30px;
  font-size: 14px;
  background-color: #8B7AF4;
  color: white;
  transition: ease-in-out 0.2s;
}

.artistas-button .artistas-btn:hover {
  transform:scale(1.1);
  background-color: #483B99;
  transition: ease-in-out 0.2s;
}

.tipo-1:hover {
  transform: rotate(-2deg) scale(1.1);
  transition: ease-in-out 0.5s;
}

.tipo-2:hover {
  transform: rotate(2deg) scale(1.1);
  transition: ease-in-out 0.5s;
}

#badbunny {
  background: url('../../../../assets/photos/artistas/badbunny.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#jbalvin {
  background: url('../../../../assets/photos/artistas/balvin.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#weeknd {
  background: url('../../../../assets/photos/artistas/weeknd.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#rels {
  background: url('../../../../assets/photos/artistas/rels.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#lipa {
  background: url('../../../../assets/photos/artistas/lipa.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 575px) {
  .category-name {
    font-size: 32px;
  }
}

@media screen and (min-width: 650px) {
  .category-name {
    font-size: 36px;
  }
}

@media screen and (min-width: 700px) {
  .category-name {
    font-size: 38px;
  }
}

@media screen and (min-width: 750px) {
  .category-name {
    font-size: 40px;
  }
}

@media screen and (min-width: 850px) {
  .category-name {
    font-size: 46px;
  }
}

@media screen and (min-width: 990px) {
  .category-name {
    font-size: 36px;
  }
}
