
  <div class="entrance">
    <div class="titulo bouncy">
      <img src="../../../../assets/photos/logo-white.svg" height="200" width="550" alt="">
    </div>
  </div>

  <div class="arrow text-center">
    <a href="#categories"><i class="bi bi-caret-down"></i></a>
  </div>

  <div id="categories">
    <h1 class="ms-5 text-white cat-title">Categorías</h1>
    <div class="oval"></div>
    <div class="category-group mt-5">
      <div class="categories-listed">
        <div class="row row-cols-md-2 row-cols-lg-3 g-5 p-5 pt-0">
          <div class="card list">
            <h2 class="category-name text-center">Pop</h2>
            <img class="card-img" src="../../../../assets/photos/pop.jpeg" alt="Card image">
          </div>

          <div class="card list">
            <h2 class="category-name text-center" id="latina">Latina</h2>
            <img class="card-img" src="../../../../assets/photos/latina.jpeg" alt="Card image">
          </div>

          <div class="card list">
            <h2 class="category-name text-center" id="rock">Rock</h2>
            <img class="card-img" src="../../../../assets/photos/rock.jpeg" alt="Card image">
          </div>

          <div class="card list">
            <h2 class="category-name text-center" id="electro">Electrónica</h2>
            <img class="card-img" src="../../../../assets/photos/electro.jpeg" alt="Card image">
          </div>

          <div class="card list">
            <h2 class="category-name text-center" id="rap">Hip-Hop</h2>
            <img class="card-img" src="../../../../assets/photos/rap.jpeg" alt="Card image">
          </div>

          <div class="card list">
            <h2 class="category-name text-center" id="country">Country</h2>
            <img class="card-img" src="../../../../assets/photos/country.jpeg" alt="Card image">
          </div>
        </div>
        <div class="row mas-contenido1">
          <button class="btn"><i class="bi bi-plus-circle"></i> Más</button>
        </div>
      </div>
    </div>
  </div>

