<div class="row">
  <div class="col-12">
    <ul class="ms-3 breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#" routerLink="/artistas">Artistas</a></li>
      <li class="breadcrumb-item active">{{ categoria }}</li>
    </ul>
  </div>
</div>

<div class="main-list">
  <div class="row">
    <div class="col-12 title-box">
      <div class="row">
        <div class="col-6 category">
          <h2 class="text-black">Artistas {{ categoria }}</h2>
        </div>

        <div class="col-6 filter">
          <div class="search-filter">
            <form action="">
              <input type="text" [(ngModel)]="filterSearch" class="form-control" name="filterDesc" id="filterDesc" placeholder="Buscar ...">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p class="text-black text-center mt-3">Artista</p>
        </div>

        <div class="col-3">
          <p class="text-black text-center mt-3">Conciertos</p>
        </div>

        <div class="col-3">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 lista-artistas">
      <app-artist-item *ngFor="let a of artistas | filterArtists:filterSearch; let i = index" [artista]="a" [index] = "i" ></app-artist-item>
    </div>
  </div>
</div>
