* {
  background: none;
}

.main-list {
  padding: 0 10% 0 10%;
  background: white;
}

.title-box {
  background: white;
  height: 110px;
}

.title-box h2 {
  margin-top: 40px;
  margin-left: 20px;
}

.category {
  border-bottom: 8px solid #8B7AF4;
  height: 110px;
}

.filter {
  border-bottom: 8px solid rgb(226, 226, 226);
  height: 110px;
}

.search-filter {
  margin-top: 30px;
}

.search-filter input {
  margin-left: 40%;
  width: 60%;
  padding: 12px 10px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: black;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
  backface-visibility: hidden;
  transition: transform 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  transform-style: preserve-3d;
}

.search-filter input:focus {
  color: black;
  background-color: white;
  border: 1px solid white;
  transition: all 250ms ease-in-out;
  border-radius: 7px;
  outline: none !important;
}

.search-filter input::placeholder {
  color: black;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-filter input:focus::placeholder {
  color: #3c3c3c;
}
