<div class="main-concert-body">
  <div class="row">
    <div class="col-12">
      <ul class="ms-3 breadcrumb">
        <li class="breadcrumb-item"><a href="#" routerLink="/home">Inicio</a></li>
        <li class="breadcrumb-item"><a href="#" [routerLink]="['/categorias', concierto?.categoria]">Categorías</a></li>
        <li class="breadcrumb-item"><a href="#" [routerLink]="['/categorias', concierto?.categoria]">{{ categoria }}</a></li>
        <li class="breadcrumb-item active">{{ concierto?.nombre }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="alert" class="alert alert-danger" role="alert">
    Inicia sesión para poder reservar entrada a este evento.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closePopUp()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-background">
        <div class="row">
          <div class="col-7">
            <div class="card-content-inside">
              <h1>{{ concierto?.nombre }}</h1>
              <p class="lugar"><i class="bi bi-building"></i> {{ concierto?.lugar }}</p>
              <p class="fecha"><i class="bi bi-calendar3"></i> {{ concierto?.fecha }}</p>
              <button class="btn" (click)="reservarConcierto()">Reserva ya</button>
            </div>
          </div>
          <div class="col-5 content-img">
            <div class="caja-foto">
              <img src="{{ concierto?.imagen }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="artistas">
        <h4>Artistas presentes</h4>
        <div *ngFor="let a of artistas">
          <a [routerLink]="['/artista', ':'+a.id_artista]"><img src="{{ a?.imagen }}" class="round-image"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="peque" id="map">

  </div>
</div>
