* {
  background: none;
}

.main-concert-body {
  width: 100%;
  height: 1100px;
  background-color: white;
}

.breadcrumb {
  margin: 2% 0 20px 0;
}

.card-background {
  height: 400px;
  background: rgb(198,35,104);
  background: linear-gradient(90deg, rgba(198,35,104,1) 16%,
  rgba(128,119,255,0.9836309523809523) 100%, rgba(139,122,244,1) 100%);
}

h3, p, i, .row, .col-6, .col-5, .col-7, .col-12, h4 {
  background: none;
}

.alert {
  margin: 0 1% 1% 1%;
}

.close {
  float: right;
  border: 1px solid rgb(156, 0, 0);
  border-radius: 7px;
  color: rgb(156, 0, 0);
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content-inside h1 {
  margin-top: 60px;
  margin-left: 30px;
  font-weight: 800;
  font-size: 50px;
  color: white;
}

.card-content-inside .lugar {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  opacity: 0.9;
}

.card-content-inside .fecha {
  font-size: 16px;
  margin-left: 30px;
  color: white;
  opacity: 0.9;
}

.btn {
  background-color: #8B7AF4;
  color: white;
  margin-left: 30px;
}

.btn:hover {
  transform:scale(1.1);
  background-color: #483B99;
  transition: ease-in-out 0.2s;
}

.caja-foto {
  height: 200px;
  width: 200px;
  margin-top: 80px;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  -webkit-box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);
}

.caja-foto:hover {
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.caja-foto img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);
}

.artistas {
  position: absolute;
  background-color: rgb(226, 226, 226);
  top: 580px;
  width: 96%;
  height: 200px;
  margin: 0 2% 2% 2%;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
}

.artistas h4 {
  margin: 2% 0 0 4%;
}

.peque {
  height: 300px;
  position: absolute;
  top: 820px;
  width: 50%;
  margin: 0 2% 2% 2%;
  background: none;
}

.round-image {
  margin: 3% 2% 0 5%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
}

.round-image:hover {
  transform:scale(1.1);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .caja-foto {
    height: 300px;
    width: 300px;
    margin-top: 50px;
  }

  .card-content-inside .lugar {
    margin-top: 50px;
  }

  .btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 800px) {
  .artistas {
    width: 50%;
    transition: ease-in-out 0.3s;
  }
}
