<div class="main-content-body">

  <div class="row">
    <div class="col-12 artistas-caja">
      <div class="row">
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white text-center cat-title my-4">Artistas Reggaeton</h1>
          <h4 class="text-white text-center mt-3 ms-3">Aquí podrás encontrar los artistas más populares del género latino</h4>
          <a href="#" [routerLink]="['/artistas', 'latina']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="badbunny">
                <h5 class="ms-2">Bad Bunny</h5>
                <p class="ms-2">Latina</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="jbalvin">
                <h5 class="ms-2">J Balvin</h5>
                <p class="ms-2">Latina</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="towers">
                <h5 class="ms-2">Mike Towers</h5>
                <p class="ms-2">Latina</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja" id="pop">
      <div class="row">
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="sheeran">
                <h5 class="ms-2">Sheeran</h5>
                <p class="ms-2">Pop</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="weeknd">
                <h5 class="ms-2">The Weeknd</h5>
                <p class="ms-2">Pop</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="lipa">
                <h5 class="ms-2">Dua Lipa</h5>
                <p class="ms-2">Pop</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white cat-title my-4">Artistas Pop</h1>
          <h4 class="text-white mt-3 me-3">Los artistas más famosos en el mundo del pop</h4>
          <a href="#" [routerLink]="['/artistas', 'pop']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja">
      <div class="row">
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white text-center cat-title my-4">Artistas Rock</h1>
          <h4 class="text-white text-center mt-3 ms-3">Los rockeros más épicos del mundo a vuestra disposición</h4>
          <a href="#" [routerLink]="['/artistas', 'rock']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="acdc">
                <h5 class="ms-2">AC/DC</h5>
                <p class="ms-2">Rock</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="maiden">
                <h5 class="ms-2">Iron Maiden</h5>
                <p class="ms-2">Rock</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="roses">
                <h5 class="ms-2">Guns N' Roses</h5>
                <p class="ms-2">Rock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja" id="hip-hop">
      <div class="row">
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="eminem">
                <h5 class="ms-2">Eminem</h5>
                <p class="ms-2">Hip-Hop</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="rels">
                <h5 class="ms-2">Rels B</h5>
                <p class="ms-2">Pop</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="morad">
                <h5 class="ms-2">Morad</h5>
                <p class="ms-2">Hip-Hop</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white cat-title my-4">Artistas Hip-Hop</h1>
          <h4 class="text-white mt-3 me-3">Toda la lírica que te puedas imaginar dentro de una sola categoría</h4>
          <a href="#" [routerLink]="['/artistas', 'hip-hop']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja">
      <div class="row">
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white text-center cat-title my-4">Artistas Jazz</h1>
          <h4 class="text-white text-center mt-3 ms-3">"La vida es como el jazz... es mejor cuando improvisas"</h4>
          <a href="#" [routerLink]="['/artistas', 'jazz']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="lotus">
                <h5 class="ms-2">Flying Lotus</h5>
                <p class="ms-2">Jazz</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="marius">
                <h5 class="ms-2">Marius Neset</h5>
                <p class="ms-2">Jazz</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="kamasi">
                <h5 class="ms-2">Kamasi</h5>
                <p class="ms-2">Jazz</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja" id="country">
      <div class="row">
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="swift">
                <h5 class="ms-2">Taylor Swift</h5>
                <p class="ms-2">Country</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="wallen">
                <h5 class="ms-2">Morgan Wallen</h5>
                <p class="ms-2">Country</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="combs">
                <h5 class="ms-2">Luke Combs</h5>
                <p class="ms-2">Country</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white cat-title my-4">Artistas Country</h1>
          <h4 class="text-white mt-3 me-3">Descubre los artistas más famosos de esta género tan americano</h4>
          <a href="#" [routerLink]="['/artistas', 'country']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja">
      <div class="row">
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white text-center cat-title my-4">Artistas EDM</h1>
          <h4 class="text-white text-center mt-3 ms-3">DON'T STOP THE PARTY!!!</h4>
          <a href="#" [routerLink]="['/artistas', 'edm']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="aoki">
                <h5 class="ms-2">Steve Aoki</h5>
                <p class="ms-2">EDM</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="diplo">
                <h5 class="ms-2">Diplo</h5>
                <p class="ms-2">EDM</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="guetta">
                <h5 class="ms-2">David Guetta</h5>
                <p class="ms-2">EDM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 artistas-caja" id="clasica">
      <div class="row">
        <div class="col-12 col-md-8 listado-artistas">
          <div class="row">
            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="dovgan">
                <h5 class="ms-2">Alex Dovgan</h5>
                <p class="ms-2">Clásica</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo1 mt-md-4" id="beethoven">
                <h5 class="ms-2">Beethoven</h5>
                <p class="ms-2">Clásica</p>
              </div>
            </div>

            <div class="col-4">
              <div class="artista tipo2 mt-md-4" id="vivaldi">
                <h5 class="ms-2">Vivaldi</h5>
                <p class="ms-2">Clásica</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center mb-md-4">
          <h1 class="text-white cat-title my-4">Artistas Clásica</h1>
          <h4 class="text-white mt-3 me-3">Da un paso atrás a la época dorada de la música</h4>
          <a href="#" [routerLink]="['/artistas', 'clasica']"><button class="btn my-4">Ver más artistas <i class="bi bi-arrow-right"></i></button></a>
        </div>
      </div>
    </div>
  </div>

</div>
